{
  "root": true,
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "ignorePatterns": ["lib/", "reports/"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "max-len": "off",
    "no-template-curly-in-string": "off",
    "global-require": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/rules/*"],
      "extends": ["plugin:eslint-plugin/rules-recommended"],
      "rules": {
        "eslint-plugin/require-meta-docs-description": [
          "error",
          { "pattern": "^(Enforce|Require|Disallow)" }
        ],
        "eslint-plugin/require-meta-type": "off"
      }
    },
    {
      "files": ["__tests__/src/rules/*.{js,ts,jsx,tsx}"],
      "extends": ["plugin:eslint-plugin/tests-recommended"]
    },
    {
      "files": ["**/*.test.{js,ts,jsx,tsx}"],
      "env": {
        "jest": true
      }
    }
  ]
}
